/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 10pt;
 font-family: 'Verdana';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_Code /* Code */
{
 font-family: 'Courier New';
}
span.f_CodeExample /* Code Example */
{
 font-size: 9pt;
 font-family: 'Courier New';
}
span.f_Code2 /* Code2 */
{
 font-family: 'Courier New';
}
span.f_Courier /* Courier */
{
 font-family: 'Courier New';
 color: #800000;
}
span.f_Headsmall /* Head small */
{
 font-size: 11pt;
 font-family: 'Courier New';
 font-weight: bold;
 color: #993300;
}
span.f_HeadersName /* HeadersName */
{
 font-size: 12pt;
 font-weight: bold;
 color: #993300;
}
span.f_Headingredunderlined /* Heading, red underlined */
{
 font-size: 12pt;
 font-family: 'Arial';
 font-weight: bold;
 color: #ff0000;
 text-decoration: underline;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 14pt;
 font-weight: bold;
 color: #dedede;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 8pt;
 font-weight: bold;
}
span.f_Leftindentto50 /* Left indent to 50 */
{
 font-family: 'MS Sans Serif';
}
span.f_NormalCourier /* NormalCourier */
{
 font-size: 11pt;
 font-family: 'Courier New';
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 19px;
 padding: 5px;
 margin: 0px 5px 0px 5px;
}
.p_Code /* Code */
{
 text-indent: 10px;
 border-color: #000000;
 border-style: solid;
 border-width: 2px;
 border-top: none;
 border-bottom: none;
 background: #c0c0c0;
 padding: 3px 3px 3px 3px;
 margin: -3px 12px -3px 12px;
}
.p_CodeExample /* Code Example */
{
 text-indent: 0px;
 border-color: #993300;
 border-style: solid;
 border-width: 1px;
 padding: 4px 4px 4px 4px;
 margin: -4px -4px -4px -4px;
}
.p_Code2 /* Code2 */
{
 text-indent: 10px;
 border-color: #ff0000;
 border-style: solid;
 border-width: 5px;
 border-top: none;
 border-bottom: none;
 background: #ffcc00;
 padding: 5px 5px 5px 5px;
 margin: -5px 10px -5px 10px;
}
.p_Courier /* Courier */
{
 margin: 0px 19px 0px 0px;
}
.p_Headsmall /* Head small */
{
 text-indent: 0px;
 border-color: #ff0000;
 border-style: solid;
 border-width: 1px;
 padding: 5px 5px 5px 5px;
 margin: -5px -5px -5px -5px;
}
.p_HeadersName /* HeadersName */
{
 text-indent: 0px;
 border-color: #ff0000;
 border-style: solid;
 border-width: 1px;
 padding: 5px 5px 5px 5px;
 margin: -5px 5px -5px 5px;
}
.p_Headingredunderlined /* Heading, red underlined */
{
 text-indent: 0px;
 margin: 0px 0px 0px 0px;
}
.p_Heading1 /* Heading1 */
{
 text-indent: 20px;
 margin: 0px 19px 0px 20px;
}
.p_Leftindentto50 /* Left indent to 50 */
{
 margin: 0px 19px 0px 38px;
}
.p_NormalCourier /* NormalCourier */
{
 text-indent: 8px;
 margin: 0px 0px 0px 11px;
}

